{% extends 'webhappy/base.html'%}
{% load staticfiles %}
{% load static %}
{% block script %}<script src="{% static 'webhappy/script_common.js' %}"></script> {% endblock %}
{% block title %} Благотворительный фонд Счастье {% endblock %}
{% block sidebar %}
                    <li><a href="{% url 'webhappy:about' %}" class="menu_current"><span class="red_phone">о</span> фонде</a></li>
                    <li><a href="{% url 'webhappy:what_we_do' %}" class="menu_none"><span class="red_phone">ч</span>то мы делаем</a></li>
                    <li><a href="{% url 'webhappy:news' %}"class="menu_none"><span class="red_phone">н</span>овости</a></li>
                    <li><a href="{% url 'webhappy:we_cares' %}"class="menu_none"><span class="red_phone">мы</span> опекаем</a></li>
                    <li><a href="{% url 'webhappy:help' %}"class="menu_none"><span class="red_phone">к</span>ак помочь</a></li>
                    <li><a href="{% url 'webhappy:contacts' %}"class="menu_none"><span class="red_phone">к</span>онтакты</a></li>
                    <li class="helper"></li>
{% endblock %}
{% block content %}
<div id="wwd_wrap">
<div class="upper_banner_static_wrap">
        <img class="upper_static_banner" src="{% static 'webhappy/images/upper_line_tight.png' %}">
    </div>
    <ul class="wwd_head_list">
        <li><img src="{% static 'webhappy/images/wwd_left.png' %}"></li>
        <li><h1>О Фонде</h1></li>
        <li><img src="{% static 'webhappy/images/wwd_right.png' %}"></li>
    </ul>
    <div class="about_wrap">
        <div class="about_text_wrap">
            {{ about.about_fond|safe }}
        </div>

    {% if wwd %}
        <ul id="wwd_list">
            {% for act in wwd %}
            <li class="wwd_list_dot">
                <ul class="wwd_list_dot_list">
                    <li><div class="wwd_ico_wrap"><img src="{{ act.img.url }}"></div></li>
                    <li class="wwd_name">{{ act.name }}</li>
                    <li calss="wwd_text">{{ act.text|safe }}</li>

                </ul>
            </li>

            {% endfor %}
        </ul>
    {% else %}
        <div>Здесь еще пусто</div>
    {% endif %}
    </div>
</div>
{% endblock %}
