{% extends 'webhappy/base.html'%}
{% load staticfiles %}
{% load static %}
{% block script %}
<script>
     $(document).ready(function() {
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var csrftoken = getCookie('csrftoken');

    var jssor_1_SlideshowTransitions = [
              {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
              {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 1,
                $Align: 0,
                $NoDrag: true
              }
            };

            try {
                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
                alert(jssor_1_slider);

                function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1290);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
             ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            }
            catch(err) {
            //alert('ups');
            }



            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/



            $('.partners_slick').slick({
                infinite: true,
                slidesToShow: 6,
                slidesToScroll: 6
            });

            $('.video_slick').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 4
            });

            $('#ps_wrap').css( "font", "15px 'DINPro'" );

            $('.popup-gallery').magnificPopup({
		        delegate: 'a',
		        type: 'image',
		        tLoading: 'Loading image #%curr%...',
		        mainClass: 'mfp-img-mobile',
		        gallery: {
		        	enabled: true,
			        navigateByImgClick: true,
			        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		        },
		        image: {
			        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			        titleSrc: function(item) {
				        return item.el.attr('title');
			        }
		        }
	        });
	        $("small").hide();
});

function loadingpartner(data)
{
    alert('Bang');
    alert(data);
    $("#partnerList").append(data);
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
</script>
{% endblock %}
{% block title %}{{media.name}}{% endblock %}
{% block sidebar %}
                    <li><a href="{% url 'webhappy:about' %}" class="menu_none"><span class="red_phone">о</span> фонде</a></li>
                    <li><a href="{% url 'webhappy:what_we_do' %}" class="menu_current"><span class="red_phone">ч</span>то мы делаем</a></li>
                    <li><a href="{% url 'webhappy:news' %}"class="menu_none"><span class="red_phone">н</span>овости</a></li>
                    <li><a href="{% url 'webhappy:we_cares' %}"class="menu_none"><span class="red_phone">мы</span> опекаем</a></li>
                    <li><a href="{% url 'webhappy:help' %}"class="menu_none"><span class="red_phone">к</span>ак помочь</a></li>
                    <li><a href="{% url 'webhappy:contacts' %}"class="menu_none"><span class="red_phone">к</span>онтакты</a></li>
                    <li class="helper"></li>
{% endblock %}
{% block content %}
<div id="wwd_wrap">
    <div class="upper_banner_static_wrap">
        <img class="upper_static_banner" src="{% static 'webhappy/images/upper_line_tight.png' %}">
    </div>
    <ul class="wwd_head_list">
        <li><img src="{% static 'webhappy/images/wwd_left.png' %}"></li>
        <li><h1>Что мы делаем</h1></li>
        <li><img src="{% static 'webhappy/images/wwd_right.png' %}"></li>
    </ul>
    <div class="article_wrap">
        <div class="article_name_wrap">
            {{ media.name }}
        </div>
        <div class="article_date_wrap">
            {{ media.date.date }}
        </div>
        <div class="article_text_wrap">
            {{ media.full_text|safe }}
        </div>
        <div class="popup-gallery">
            {% for i in images%}
	        <a href="{{ i.image_media.url }}" title="{{ media.name }}"><img src="{{ i.small_image.url }}" width="405" height="207"></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
