<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <script src="{% static 'webhappy/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'webhappy/jssor.slider-23.1.6.min.js' %}"></script>
    {% block script %}<script src="{% static 'webhappy/script.js' %}"></script> {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'webhappy/style.css' %}" />
    <link rel="icon" href="{% static 'webhappy/images/happy.ico'%}">
    <title>{% block title %} Благотворительный фонд счастье {% endblock %}</title>
</head>
<body>
    <div id="attick">
        <div id="top_line"></div>
        <div id="first_row">
            <ul id="first_row_list">
                <li class="first_row_list_dot"><a href="{% url 'webhappy:index' %}"><img src="{% static 'webhappy/images/logo.png' %}"></a></li>
                <li class="first_row_list_dot">
                    <div class="fond_name"><span class="black_name">благотворительный фонд</span><br><span class="red_name"><q>счастье</q></span></div>
                </li>
                <li class="first_row_list_dot">
                    <div class="phone_wrap">
                        <img id="phone_ico" src="{% static 'webhappy/images/phone.png' %}"><a id="head_phone_link" href="tel:{{ index_page.phone_country}}{{ index_page.phone_code }}{{ index_page.phone_number }}"><span class="black_phone">{{ index_page.phone_country }}</span><span class="red_phone"> ({{ index_page.phone_code }}) </span><span class="black_phone"> {{ index_page.phone_number }}</span></a>
                    </div>
                </li>
                <li class="first_row_list_dot">
                    <ul id="kontakt_list">
                        <li class="kontakt_list_dot">
                            <ul id="social_list">
                                <li class="social_list_dot"><a href="{{ index_page.fb }}"><img src="{% static 'webhappy/images/fb.png' %}"></a></li>
                                <li class="social_list_dot"><a href="{{ index_page.insta }}"><img src="{% static 'webhappy/images/inst.png' %}"></a></li>
                                <li class="social_list_dot"><a href="{{ index_page.youtube }}"><img src="{% static 'webhappy/images/youtube.png' %}"></a></li>
                            </ul>
                        </li>
                        <li class="kontakt_list_dot"><div id="email">{{ index_page.email }}</div></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="menu_wrap">
            <nav id="menu">
                <ul id="menu_list">
                    {% block sidebar %}
                    <li><a class="menu_none"><span class="red_phone">о</span> фонде</a></li>
                    <li><a class="menu_none"><span class="red_phone">ч</span>то мы делаем</a></li>
                    <li><a class="menu_none"><span class="red_phone">н</span>овости</a></li>
                    <li><a class="menu_none"><span class="red_phone">мы</span> опекаем</a></li>
                    <li><a class="menu_none"><span class="red_phone">к</span>ак помочь</a></li>
                    <li><a class="menu_none"><span class="red_phone">к</span>онтакты</a></li>
                    <li class="helper"></li>
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>

{% block content %}
{% endblock %}
</body>
<footer>
</footer>