{% extends 'webhappy/base.html'%}
{% load staticfiles %}
{% load static %}
{% block title %} Благотворительный фонд Счастье {% endblock %}
{% block content %}
 <div id="slider_wrap">

        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1290px;height:595px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-006-tail-spin" style="position:absolute;top:0px;left:0px;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19.0px;position:relative;top:50%;width:38px;height:38px;" src="{% static 'webhappy/images/slider/tail-spin.svg' %}" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1290px;height:595px;overflow:hidden;">
            <div>
                <img data-u="image" src="{{ slider.0.img.url }}" />
                <div data-u="thumb" class="slider_button"><a href="{{ slider.0.link }}" style="text-decoration: none;">перейти</a></div>
            </div>
            <div>
                <img data-u="image" src="{{ slider.1.img.url }}" />
                <div data-u="thumb" class="slider_button"><a href="{{ slider.1.link }}" style="text-decoration: none;">перейти</a></div>
            </div>
            <div>
                <img data-u="image" src="{{ slider.2.img.url }}" />
                <div data-u="thumb" class="slider_button"><a href="{{ slider.2.link }}" style="text-decoration: none;">перейти</a></div>
            </div>
            <div>
                <img data-u="image" src="{{ slider.3.img.url }}" />
                <div data-u="thumb" class="slider_button"><a href="{{ slider.3.link }}" style="text-decoration: none;">перейти</a></div>
            </div>
            <a data-u="any" href="https://www.jssor.com/alexei0eremin/banner-slider.slider" style="display:none">carousel slider</a>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort09-205-50" style="position:absolute;bottom:140px;left:542px;width:205px;height:50px; border-radius: 50px 50px;" data-autocenter="1">
            <div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=40.0);opacity:0.4; border-radius: 50px 50px;"></div>
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="t"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb01" style="bottom:90px;right:16px;" data-autocenter="1">
            <div data-u="prototype" style="width:12px;height:12px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:0px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
        </div>
        <div id="slider_line_wrap">
            <img data-u="image" src="{% static 'webhappy/images/sliderline.png' %}" />
        </div>

 </div>
<div id="ceo_words_wrap">
    <ul id="ceodors_list">
        <li>
            <div id="ceo_photo_wrap">
                <img src="{{ index_page.photo.url }}">
            </div>
        </li>
        <li>
            <ul id="words_list">
                <li>
                    <div id="words_head">
                        <span>слово президента фонда</span>
                    </div>
                </li>
                <li>
                    <div id="words">
                            {{ index_page.words|safe }}
                    </div>
                </li>
                <li>
                    <ul id="words_title_name_list">
                        <li>
                            <div id="words_title">
                                <p>
                                    {{ index_page.title }}
                                </p>
                            </div>
                        </li>
                        <li>
                            <div id="words_name">
                                <p>
                                    {{ index_page.name }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="wwd_wrap">
    <ul class="wwd_head_list">
        <li><img src="{% static 'webhappy/images/wwd_left.png' %}"></li>
        <li><h1>что мы делаем</h1></li>
        <li><img src="{% static 'webhappy/images/wwd_right.png' %}"></li>
    </ul>
    {% if wwd %}
        <ul id="wwd_list">
            {% for act in wwd %}
            <li class="wwd_list_dot">
                <ul class="wwd_list_dot_list">
                    <li><div class="wwd_ico_wrap"><img src="{{ act.img.url }}"></div></li>
                    <li class="wwd_name">{{ act.name }}</li>
                    <li calss="wwd_text">{{ act.text|safe }}</li>

                </ul>
            </li>

            {% endfor %}
        </ul>
    {% else %}
        <div>Здесь еще пусто</div>
    {% endif %}
    <div class="button"><a class="butt_link" href="/"><span>программы фонда</span></a></div>
</div>
<div id="youtube_wrap">
    <ul class="wwd_head_list">
        <li><img src="{% static 'webhappy/images/wwd_left.png' %}"></li>
        <li><h1>счасть is...</h1></li>
        <li><img src="{% static 'webhappy/images/wwd_right.png' %}"></li>
    </ul>
    {% if videos %}
    <div id="video_slick_wrap">
            <div class="video_slick">
                {% for video in videos %}
                <div class="video_slick_try"><a href="{{ video.link }}"><img src="{{ video.cover }}"></a><div class="video_name"> {{ video.name }}</div></div>
                {% endfor %}
            </div>
    </div>
    {% else %}
        <div>Здесь еще пусто</div>
    {% endif %}
    <div class="button"><a class="butt_link" href="https://www.youtube.com/channel/UC20_z5bq_QyONSbVNtb3EVg"><span>посмотреть все</span></a></div>
</div>

{% endblock %}
