{% extends 'webhappy/base.html'%}
{% load staticfiles %}
{% load static %}
{% block script %}<script src="{% static 'webhappy/script_common.js' %}"></script> {% endblock %}
{% block title %} Опека Благотворительного фонда Счастье {% endblock %}
{% block sidebar %}
                    <li><a href="{% url 'webhappy:about' %}" class="menu_none"><span class="red_phone">о</span> фонде</a></li>
                    <li><a href="{% url 'webhappy:what_we_do' %}" class="menu_none"><span class="red_phone">ч</span>то мы делаем</a></li>
                    <li><a href="{% url 'webhappy:news' %}"class="menu_none"><span class="red_phone">н</span>овости</a></li>
                    <li><a href="{% url 'webhappy:we_cares' %}"class="menu_current"><span class="red_phone">мы</span> опекаем</a></li>
                    <li><a href="{% url 'webhappy:help' %}"class="menu_none"><span class="red_phone">к</span>ак помочь</a></li>
                    <li><a href="{% url 'webhappy:contacts' %}"class="menu_none"><span class="red_phone">к</span>онтакты</a></li>
                    <li class="helper"></li>
{% endblock %}
{% block content %}
<div id="wwd_wrap">
<div class="upper_banner_static_wrap">
        <img class="upper_static_banner" src="{% static 'webhappy/images/upper_line_tight.png' %}">
    </div>
    <ul class="wwd_head_list">
        <li><img src="{% static 'webhappy/images/wwd_left.png' %}"></li>
        <li><h1>Мы опекаем</h1></li>
        <li><img src="{% static 'webhappy/images/wwd_right.png' %}"></li>
    </ul>
    <div class="we_cares_wrap">
        {% if cares %}
        <ul class="we_cares_list">
            {% for c in cares %}
            <li class="we_cares_dot">
                <ul class="we_cares_dot_list">
                    <li class="we_cares_dot_dot">
                        <img class="we_cares_logo" src="{{ c.we_care_logo.url }}">
                    </li>
                    <li class="we_cares_dot_dot">
                        <ul class="we_cares_non_img_list">
                            <li class="we_cares_non_img_dot">
                                <span class="w_c_name">{{ c.name }}</span>
                            </li>
                            <li class="we_cares_non_img_dot">
                                <div class="w_c_text">{{ c.text|safe }}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h1>Мы расскажем вам чуть позже</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
