 .jssorl-006-tail-spin img {
            animation-name: jssorl-006-tail-spin;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-006-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        /* jssor slider bullet navigator skin 01 css */
        /*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
        .jssorb01 {
            position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { background-color: white; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: black; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

        /* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        .jssora05l.jssora05lds      (disabled)
        .jssora05r.jssora05rds      (disabled)
        */
        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 500px;
            cursor: pointer;
            background: url('images/slider/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }
        .jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
        .jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
        /* jssor slider thumbnail navigator skin 09 css */.jssort09-205-50 .p {    position: absolute;    top: 0;    left: 0;    width: 205px;    height: 50px; background: #e62d22; background: linear-gradient(to right, #e62d22, #e70283); border-radius: 50px 50px;}.jssort09-205-50 .t {    font-family: 'DINPro-Bold';    font-weight: normal;    position: absolute;    width: 100%;    height: 100%;    top: 0;    left: 0;    color:#fff;    line-height: 50px;    font-size: 24px;    padding-left: 10px; text-transform: uppercase;} .jssort09-205-50 a{ color:#fff;} a:visited{text-decoration: none; color:#fff;} .jssort09-205-50:hover{text-decoration: underline;}

@font-face {
    font-family: 'DINPro-Bold';
    src: url("fonts/DINPro-Bold Regular.otf");
}

@font-face {
    font-family: 'DINPro';
    src: url("fonts/DINPro-Regular_0.otf");
}

@font-face {
    font-family: 'Francker';
    src: url("fonts/FranckerCYR-Regular.otf");
}

@font-face {
    font-family: 'Leo';
    src: url("fonts/LeOsler_Rough-Light.ttf");
}

@font-face {
    font-family: 'Stripe';
    src: url("fonts/Stripe.ttf");
}

@font-face {
    font-family: 'Stripe-Black';
    src: url("fonts/Stripe_black.ttf");
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1290px;
}

#attick {
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 1290px;
}

#top_line {
    max-width: 1290px;
    height: 7px;
    background: #e62d22; /* Для старых браузров */
    background: linear-gradient(to right, #e62d22, #e70283);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.fond_name {
    width: 250px;
    height: 42px;
    border-left: 2px solid #e62d22; /* Линия слева от текста */
    padding-left: 33px; /* Расстояние между линией и текстом */
    text-align: left;
    text-transform: uppercase;
    font: 15px 'DINPro-Bold';
    margin-left: 31px;
}

.black_name {
    vertical-align: middle;
}

.red_name {
    color: #e62d22;
    quotes: "\00ab" "\00bb";
    vertical-align: middle;
}

#head_phone_link {
    font: 24px 'DINPro-Bold';
    text-decoration: none;
    color: black;
    vertical-align: text-bottom;
}

#head_phone_link:hover {
    text-decoration: underline; /* Добавляем подчеркивание */
}

#phone_ico {
    width: 18px;
}

.red_phone {
    color: #e62d22;
}

#email {
    font: 16px 'DINPro';
    color: black;
}

#email_a {
    font: 16px 'DINPro';
    color: black;
}

##email_a:visited {
    font: 16px 'DINPro';
    color: black;
}

#first_row {
    max-width: 1025px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
}

#first_row_list {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

#first_row_list li {
    display: inline-block;
}

#kontakt_list {
    list-style: none;
    display: block;
}

#kontakt_list li {
    list-style: none;
    display: block;
}

.kontakt_list_dot {
    display: block;
}

#social_list {
    text-align: right;
    margin-bottom: 8px;
}

#social_list li {
    display: inline-block;
    margin-left: 20px;
}

.phone_wrap {
    margin-left: 17px;
}

#menu {
    text-transform: uppercase;
    font: 17px 'DINPro';
    width: 79%;
    max-width: 986px;
    margin-left: auto;
    margin-right: auto;

}

#menu a:hover {
    text-decoration: underline;
}

.menu_current {
    border-bottom: 3px solid #e62d22; /* Линия слева от текста */
    text-decoration: none;
    color: black;
}

.menu_current:visited {
    color: black;
}

#menu_list li{
    list-style: none;
    display: inline-block;
    text-align: left;
}

#menu_list {
    text-align: justify;
    padding-left: 0px;
}

ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}

#slider_wrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
    width: 1290px;
}

#slider_line_wrap{
    position: absolute;
    margin-top: -142px;
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slider_button {
    color: black;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

#ceo_words_wrap {
    margin-top: 100px;
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

#words_head {
    text-transform: uppercase;
    font: 36px 'Stripe-Black';
}

#ceo_words_wrap li {
    list-style: none;
}

#ceodors_list li{
    display: inline-block;
    vertical-align: top;
}

#words_list li {
    display: block;
}

#words {
    max-width: 638px;
    font: 18px 'DINPro';
    text-align: left;
}

#words strong {
    color: #e62d22;
}

#words_title_name_list {
    text-align: right;
}

#words_title_name_list li {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#words_title {
    font: 14px 'DINPro';
    color: #e62d22;
    text-transform: uppercase;
    max-width: 274px;
    text-align: left;
}

#words_name {
    font: 40px 'Stripe-Black';
    color: #e62d22;
    margin-top: -23px;
}

#ceo_photo_wrap {
    max-width: 387px;
}

#sqd_footer_wrap {
    max-width: 1290px;
    width: 100%;

    background: linear-gradient(to left, #e62828, #e70057);
    margin-left: auto;
    margin-right: auto;
    min-width: 1290px;
}

#partners_title_list li {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    list-style: none;
    vertical-align: 10px;
}

#partners_title_list {
    margin-top: 0;
}

#partners_fond_word {
    font: 36px 'Stripe-Black';
    vertical-align: middle;
    padding: 27px;
}

#partners_fond_word span {
    vertical-align: sub;
}

#partner_slick_wrap{
    max-width: 1024px;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
}

.slick_try {
    width:134px;
    max-height:77px;
    max-width:134px;
    background-color: #fff;
    border-radius: 10px 10px;
    margin: 0 24px;
}

.partners_slick {
    max-width: 1024px;
}

.slick_try img {
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    max-width: 108px;
}

#footer_line {
    margin-top: 100px;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

#ps_wrap {
    font: 15px 'DINPro';
    color: white;
    max-width: 445px;
    text-align: left;
    margin-right: 212px;
}

#ps_wrap p {
    margin-top: 0;
}

.footer_menu {
    text-transform: uppercase;
    color: white;
    font: 15px 'DINPro-Bold';
}

#social_intro {
    font: 16px 'DINPro';
    color: white;
}

.social_footer li {
    list-style: none;
    display: inline-block;
    vertical-align: text-top;
}

.social_footer {
    text-align: right;
    margin-top: 20px;
}

.menu_footer_colums li {
    list-style: none;
    display: inline-block;
}

.tulip_menu li {
    list-style: none;
    display: block;
    text-align: left;
}

.menu_footer_row li {
    list-style: none;
}

#footer_list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.footer_list_dot {
    display: inline-block;
    vertical-align: top;
}

.menu_footer_row {
    max-width: 582px;
}

#copy {
    color: white;
    font: 10px 'DINPro';
    text-align: right;
    /* width: 79%; */
    max-width: 1135px;
    padding-bottom: 10px;
}

#footer_break_line {
    background: url('images/break_line_low.png') no-repeat;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
    min-width: 1290px;
}

#low_link {
    padding-top: 302px;
    text-align: left;
    padding-left: 150px;
}

#low_name {
    text-transform: uppercase;
    color: white;
    font: 15px 'DINPro-Bold';
    width: 240px;
    quotes: "\00ab" "\00bb";
}

#low_phone a{
    color: white;
    font: 19px 'DINPro';
    text-decoration: none;
    vertical-align: 4px;
}

#low_phone {
    margin-top: 25px;
}

#low_phone a:hover {
    text-decoration: underline; /* Добавляем подчеркивание */
}

#low_email {
    color: white;
    font: 19px 'DINPro';
    text-decoration: none;
}

.low_ico {
    margin-right: 10px;
}

.wwd_head_list li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font: 48px 'Stripe-Black';
    text-transform: uppercase;
    padding: 0 30px;
}

.button {
    width: 229px;
    height: 45px;
    background: #e62d22;
    background: linear-gradient(to right, #e62d22, #e70283);
    border-radius: 50px 50px;
    color: #fff;
    text-transform: uppercase;
    font: 18px 'DINPro-Bold';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button span {
    vertical-align: -10px;
}

.wwd_ico_wrap {
    width: 130px;
    height: 129px;
    margin-left: auto;
    margin-right: auto;
}

.wwd_name {
    font: 24px 'Leo';
    color: #e62d22;
    text-transform: uppercase;
    padding-top: 24px;
    height: 86px;
}

.wwd_list_dot_list li {
    list-style: none;
    max-width: 213px;
}

.wwd_text {
    max-width: 213px;
    padding-top: 40px;
}

.wwd_list_dot {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

#wwd_wrap {
    min-width: 1070px;
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

#wwd_text_list{
    padding-left: 25px;
}

#wwd_text_list li {
    max-width: 230px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.butt_link {
    text-decoration: none;
    color: #fff;
}

.butt_link:visited {
    text-decoration: none;
    color: #fff;
}

.butt_link:hover {
    text-decoration: underline;
}

#video_slick_wrap {
    max-width: 1024px;
    width: 79%;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.video_slick {
    max-width: 1024px;
}

.video_slick_try {
    width:216px;
    height 132px;
    background-color: #fff;
    border-radius: 10px 10px;
    margin: 0 24px;
}

.video_slick img {
    height: 132px;
    margin-left: auto;
    margin-right: auto;
    max-width: 216px;
}

#video_slick_wrap .slick-prev:before {
    color: #e62d22;
}

#video_slick_wrap .slick-next:before {
    color: #e62d22;
}

#youtube_wrap {
    margin-bottom: -110px;
}

.video_name {
    font: 18px 'DINPro';
    margin-top: 10px;
}

#youtube_wrap {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.menu_none {
    text-decoration: none;
    color: black;
}

.menu_none:visited {
    color: black;
    text-decoration: none;
}

.red_bold {
    font: 24px 'DINPro-Bold';
    color: #e62d22;
}

.hth_text_dot {
    font: 20px 'DINPro';
    text-align: left;
    list-style: none;
    width: 550px;
    margin-top: 15px;
}

.hth_border {
    font: 20px 'DINPro';
    background-color: #e62d22;
    color: white;
    padding: 3px 10px;
    border-radius: 15px 15px;
}

.hth_img_wrap {
    width: 253px;
    height: 276px;
}

.hth_img {
    width: 100%;
}

.hth_list_dot {
   list-style: none;
   display: inline-flex;
}

.hth_text_dot {
    list-style: none;
}

.hth_img_dot {
    list-style: none;
}

.upper_static_banner {
    width: 1290px;
}

.hth_small_text {
    font: 14px 'DINPro';
    color: black;
}

.cell_list {
    list-style: none;
    display: inline-flex;
}

ul {
    padding-left: 0;
}

.o_n_cover {
    width: 403px;
    max-height: 187px;
}

.o_n_data {
    font: 20px 'DINPro';
    color: #e62d22;
}

.o_n_name {
    font: 18px 'DINPro';
    color: #e62d22;
}

.o_n_text {
    font: 18px 'DINPro';
    color: black;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: justify;
}

.news_dot {
    max-width: 403px;
    width: 403px;
}

.news_dot {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 64px;
    margin-bottom: 60px;
}

.one_news_dot {
    list-style: none;
    text-align: left;
}

.more_button_dot {
    list-style: none;
}

.news_list {
    text-align: left;
    padding-left: 204px;
}

.btn {
   background: #e62d22;
    background: linear-gradient(to right, #e62d22, #e70283);
    border-radius: 50px 50px;
    color: #fff;
    text-transform: uppercase;
    font: 18px 'DINPro-Bold';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#btn-default {
    background: #fff;
    border-radius: 50px 50px;
    color: #e62d22;
    text-transform: uppercase;
    font: 18px 'DINPro-Bold';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
}

.paginator_list {
    list-style: none;
    vertical-align: middle;
}

.paginator_list li{
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
}

.article_name_wrap {
    font: 24px 'DINPro';
    color: #e62d22;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.article_date_wrap {
    font: 20px 'DINPro-Bold';
    color: black;
    margin-bottom: 35px;
}

.article_text_wrap {
    margin-bottom: 55px;
    text-align: justify;
    max-width: 822px;
}

.article_wrap {
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.popup-gallery a {
    margin-right: 5px;
    margin-bottom: 20px;
}

.article_text_wrap p span {
    color: #e62d22;
}

.article_text_wrap p {
    font: 20px 'DINPro';
}

.popup-gallery a img {

}

.con_name {
    color: #e62d22;
    font: 24px 'DINPro-Bold';
    margin-bottom: 25px;
}

.con_add {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 30px;
}

.con_phone {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_phone a {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_email {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 60px;
}

.con_email a {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 60px;
}

.con_social {
    color: #e62d22;
    font: 24px 'DINPro-Bold';
    margin-bottom: 25px;
}

.con_insta {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_insta a {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_vk {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_vk a {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_f {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.con_f a {
    color: black;
    font: 20px 'DINPro';
    margin-bottom: 10px;
}

.about_wrap {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.about_text_wrap {
    text-align: justify;
    font: 18px 'DINPro';
    margin-bottom: 90px;
}

.about_text_wrap span {
    color: #e62d22;
    font: 18px 'DINPro-Bold';
}

.we_cares_dot {
    list-style: none;
    margin-bottom: 70px;
}

.we_cares_logo {
    width: 200px;
}

.we_cares_dot_dot {
    max-width: 570px;
}

.we_cares_dot_dot {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
}

.we_cares_non_img_dot {
    list-style: none;
    text-align: left;
}

.w_c_name {
    color: #e62d22;
    font: 18px 'DINPro-Bold';
}

.w_c_text p {
    color: black;
    font: 18px 'DINPro';
    text-align: justify;
}

body {
        margin-left: auto;
    margin-right: auto;
}