@font-face {
    font-family: 'DINPro-Bold';
    src: url("fonts/DINPro-Bold Regular.otf");
}

@font-face {
    font-family: 'DINPro';
    src: url("fonts/DINPro-Regular_0.otf");
}

@font-face {
    font-family: 'Francker';
    src: url("fonts/FranckerCYR-Regular.otf");
}

@font-face {
    font-family: 'Leo';
    src: url("fonts/LeOsler_Rough-Light.ttf");
}

@font-face {
    font-family: 'Stripe';
    src: url("fonts/Stripe.ttf");
}

@font-face {
    font-family: 'Stripe-Black';
    src: url("fonts/Stripe_black.ttf");
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

#attick {
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 1296px;
}

#top_line {
    max-width: 1290px;
    height: 7px;
    background: #e62d22; /* Для старых браузров */
    background: linear-gradient(to right, #e62d22, #e70283);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.fond_name {
    width: 250px;
    height: 42px;
    border-left: 2px solid #e62d22; /* Линия слева от текста */
    padding-left: 33px; /* Расстояние между линией и текстом */
    text-align: left;
    text-transform: uppercase;
    font: 15px 'DINPro-Bold';
    margin-left: 31px;
}

.black_name {
    vertical-align: middle;
}

.red_name {
    color: #e62d22;
    quotes: "\00ab" "\00bb";
    vertical-align: middle;
}

#head_phone_link {
    font: 24px 'DINPro-Bold';
    text-decoration: none;
    color: black;
    vertical-align: text-bottom;
}

#head_phone_link:hover {
    text-decoration: underline; /* Добавляем подчеркивание */
}

#phone_ico {
    width: 18px;
}

.red_phone {
    color: #e62d22;
}

#email {
    font: 16px 'DINPro';
}

#first_row {
    max-width: 1025px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
}

#first_row_list {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

#first_row_list li {
    display: inline-block;
}

#kontakt_list {
    list-style: none;
    display: block;
}

#kontakt_list li {
    list-style: none;
    display: block;
}

.kontakt_list_dot {
    display: block;
}

#social_list {
    text-align: right;
    margin-bottom: 8px;
}

#social_list li {
    display: inline-block;
    margin-left: 20px;
}

.phone_wrap {
    margin-left: 17px;
}

#menu {
    text-transform: uppercase;
    font: 17px 'DINPro';
    width: 79%;
    max-width: 986px;
    margin-left: auto;
    margin-right: auto;

}

#menu a:hover {
    text-decoration: underline;
}

.menu_current {
    border-bottom: 3px solid #e62d22; /* Линия слева от текста */
}

#menu_list li{
    list-style: none;
    display: inline-block;
    text-align: left;
}

#menu_list {
    text-align: justify;
    padding-left: 0px;
}

ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}